select, input, button {
  width: 100%;
}
.bg-light-blue {
  background-color: #cfe2ff;
}
.h-title {
  font-size: 22px;
  padding: 15px 0 5px;
}
.text-sm,
.select2-results__option--selectable,
.select2-container--default .select2-results__option--disabled {
  font-size: 13px !important;
}
.row-full-mid {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
  color: #b5332a;
}
#wrapFormHeader {
  background: #FFF3E0;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #FF9800;
}
#formImportAuthor {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  background: #E1F5FE;
}

/* THIRD PARTY CUSTOM STYLE */
.select2-container{
  width: 66.666667% !important;
}